/*Element Resets*/

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--font-sans: 'Roboto', 'Open Sans', 'Segoe UI', sans-serif;
	--font-serif: 'Cambria', 'Georgia', serif;

	--color-main-dark: #4C6B2E;
	--color-main-medium-dark: #669933;
	--color-main-medium: #7FCC33;
	--color-main-light: #99E052;
	--color-main-lighter: #DEFEBF;

	--color-neutral-dark: #4B4B4B;
	--color-neutral-medium-dark: #7D7D7D;
	--color-neutral-medium: #AFAFAF;
	--color-neutral-light: #E5E5E5;
	--color-neutral-lighter: #F7F7F7;

	--color-black: #000;
	--color-white: #fff;

	--header-height: 3.75rem;
	--title-height: 3rem;
	--body-height: 2rem;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style: none;
}

p {
	line-height: var(--body-height);
}

code {
	display: block;
	padding: 1em;
	white-space: pre-wrap;
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}

/*Atomic Classes*/

.hidden {
	display: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.display-flex {
	display: flex;
}

.display-inline-flex {
	display: inline-flex;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.flex-stretch {
	flex: 1 1 auto;
}

.flex-none {
	flex: none;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.margin {
	margin: 1em;
}

.margin-top {
	margin-top: 1em;
}

.margin-left {
	margin-left: 1em;
}

.margin-right {
	margin-right: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-none {
	margin: 0;
}

.padding {
	padding: 1em;
}

.padding-top {
	padding-top: 1em;
}

.padding-left {
	padding-left: 1em;
}

.padding-right {
	padding-right: 1em;
}

.padding-bottom {
	padding-bottom: 1em;
}

.small-p {
	font-size: 0.88em;
	margin: 0;
}

.hover:hover {
	opacity: 50%;
	cursor: pointer;
}


/* Forms */

.form-control {
	margin: 1em 0;
}

.form-label {
	font-size: 0.8em;
	color: var(--color-neutral-medium);
	margin: 0.5rem 0;
}

.ui-mobile-label {
	margin: 0.5rem 0;
}

.form-input, .dropdown {
	display: inline-block;
	width: 100%;
	border-width: 0;
	color: var(--color-neutral-medium-dark);
	font: inherit;
	padding: 0.5em 1em;
	margin: 0;
	outline: 0;
	border: 1px solid var(--color-neutral-medium-dark);
	border-radius: 6px;
    box-shadow: inset 0px 0px 4px rgba(102, 119, 153, 0.2);
}

.form-button {
	display: inline-block;
	width: 100%;
	border-width: 0;
	background-color: var(--color-neutral-light);
	font: inherit;
	padding: 0.5em 1em;
	margin: 0;
	outline: 0;
	text-align: center;
}


/*  Navigation Buttons */

footer li {
	display: flex;
	flex-direction: column;
}

.nav-icon {
	padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.nav-label {
    padding-bottom: 0.25em;
}

footer ul li a {
	color: var(--color-neutral-dark);
	outline: none;
}

a.active-tab {
    color: var(--color-main-medium);
}

.ui-link, .ui-link:active, .ui-link:visited {
	text-decoration: none;
}


/*Search bar*/

.search-bar i {
    position: absolute;
}

.search-bar {
    width: 90%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.search-icon {
	background-image: url('../images/icons/search-light-gray.svg');
	background-repeat: no-repeat;
	background-size: contain;
    padding: 12px;
    top: 22px;
    left: 28px;
}

.search-bar input {
	padding-left: 2.5em;
}

#map-page .ui-header {
	height: auto;
}





/* Buttons */

.button-primary {
	background-color: var(--color-main-medium);
	color: var(--color-white);
	border-radius: 6px;
	box-shadow: 0px 3px 12px rgba(76, 107, 46, 0.2);
}

/* Links */

.link-primary {
	color: var(--color-main-medium);
}


/* Layouts */

.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

[data-role='main'] {
	flex: 1 1 100%;
	overflow: hidden;
	position: relative;
}

.unyun-location {
    padding-top: 0.375em;
    font-size: 0.875em;
    font-weight: 500;
    color: var(--color-neutral-medium-dark);
}

.entry-date {
    padding-right: 1em;
    font-size: 0.875em;
    font-weight: 500;
    color: var(--color-neutral-medium);
}

.ui-header,
.ui-footer {
	flex: none;
	/*height: var(--header-height);*/
	/*line-height: var(--header-height);*/
	border-width: 0;
	background-color: var(--color-white);
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	overflow: hidden;
	position: relative;
}

.ui-header {
	height: var(--header-height);
}

.ui-header .ui-title {
	margin: 0;
	padding: 1em 0;
	position: absolute;
	/*top: 0;
	left: 0;*/
	width: 100%;
	text-align: center;
	font-family: var(--font-sans);
	font-size: 1.25em;
	color: var(--color-neutral-dark);
}

.ui-header ul,
.ui-footer ul,
.profile-header {
	position: relative;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ui-footer li {
	flex: 1 1 auto;
	text-align: center;
}

.ui-header a,
.ui-footer a {
	display: block;
	padding: 0.5em 1em;
}

.ui-header a {
	padding: 1em;
}


.signin-alt {
	padding: 1em;
	text-align: center;
	font-size: 0.8em;
	color: var(--color-neutral-dark);
}

#signin-form, #signup-form {
	padding: 1em;
}

#signin-page [data-role="main"] {
	display: flex;
	flex-direction: column;
}

#map-page [data-role='main'] {
    background-image: url('../images/map-koreatown.png');
    background-position: center;
    background-size: cover;
    position: relative;
 }

 .overscroll {
  	width: 100%;
  	height: 100%;
  	overflow: auto;
}


/*Profile Page*/

.profile-info {
	padding: 0 1em 0.5em;
}

.profile-info img {
    border-radius: 50%;
    max-width: 40%;
}

.profile-header li a img {
	padding: 1em;
}

.user-name {
    font-size: 1.25em;
    color: var(--color-neutral-dark);
    padding-top: 1em;
}

#user-profile-page [data-role='main'] hr {
	width: 90%;
	margin-bottom: 1em;
}

.user-location {
	color: var(--color-neutral-medium);
    margin: 0.625rem 0;
}

.profile-stats {
	padding: 0.25em 1em;
}

.profile-stats>div>div:first-child {
	margin-right: 0.5em;
}

.profile-stats>div>div:last-child {
	margin-left: 0.5em;
}

.profile-stat {
	padding: 2em 1em;
    background-color: var(--color-main-lighter);
    border-radius: 0.5em;
}

.stat-label {
	padding-bottom: 1em;
    color: var(--color-neutral-dark);
    font-weight: bold;
}

.big-number {
	font-size: 4em;
    color: var(--color-main-medium);
}



/*Unyun Profile Page*/

.unyun-profile-photo {
	width: 100%;
    height: 30%;
    background-image: url(../images/unyun-photos/green-onions-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.unyun-profile-info {
    margin: 1em;
}

input.unyun-input-default {
    border: none;
    font-size: 1em;
    color: var(--color-neutral-dark);
}

/*Modals*/

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.modal.active {
   opacity: 1;
}

.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-body ul {
    margin: 0;
    padding-left: 0;
 }

 .modal-body ul li {
    padding-bottom: 1em;
}

.modal-toast {
	position: absolute;
	width: 90%;
	background-color: var(--color-neutral-light);
	color: var(--color-neutral-dark);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 0.2em;
	padding: 1em;
	text-align: center;
	left: 50%;
	transform: all 0.3s;
}

.modal-toast.top {
	top: 1em;
	transform: translate(-50%, -1em);
}

.modal-toast.bottom {
	bottom: 1em;
	transform: translate(-50%, 1em);
}

.modal.active .modal-toast {
	transform: translate(-50%, 0);
	pointer-events: initial;
}


/*Modal Popup*/

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,calc(-50% + 3em));
   transition: all 0.3s;
   width: 80vw;
}

.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}

.modal-head, .modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}

.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}

.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}


/* Modal Drawer */

.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition:all 0.3s;
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}

.modal-drawer.left { 
	left: 0; 
	transform: translateX(-100%); 
}

.modal-drawer.right { 
	right: 0;
	transform: translateX(100%); 
}

.modal-drawer.top,
.modal-drawer.bottom {
   height: 30vh;
   width: 100%;
}

.modal.active .modal-drawer {
	transform: translate(0);
	pointer-events: initial;
}

.modal-drawer .modal-body {
   flex: 1 1 100%;
}




/*Floater*/

.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }


/*Circle Button*/

.button-circle {
	background-color: white;
	line-height: 3rem;
	width: 3rem;
	display: inline-block;
	text-align: center;
	border-radius: 2rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	font-size: 2em;
    font-weight: normal;
    color: var(--color-main-medium-dark);
}


/* Map Page */

.map-pin {
    position: absolute;
    width: 32px;
}

#location-1 {
    top: 40%;
    left: 10%;
}

#location-2 {
    top: 80%;
    left: 22%;
}

#location-3 {
    top: 10%;
    left: 18%;
}

#location-4 {
    top: 50%;
    left: 80%;
}

#location-5 {
    top: 30%;
    left: 42%;
}

#location-6 {
    top: 60%;
    left: 44%;
}

/* Add/Edit Location Page */

.form-page {
	padding: 0.25em 1em;
}


/* List Page */

#list-page [data-role='main'] ul {
	margin: 0;
    padding-left: 1em;
}

#list-page [data-role='main'] ul li a {
	display: flex;
	padding: 1em 0;
}

.unyun-thumbnail {
  	margin-right: 1em;
  	width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
}

#unyun-1 { background-image: url(../images/unyun-photos/green-onions-1.jpg); }
#unyun-2 { background-image: url(../images/unyun-photos/tomatoes-1.jpg); }
#unyun-3 { background-image: url(../images/unyun-photos/grapes-1.jpg); }
#unyun-4 { background-image: url(../images/unyun-photos/garlic-1.jpg); }
#unyun-5 { background-image: url(../images/unyun-photos/green-onions-2.jpg); }
#unyun-6 { background-image: url(../images/unyun-photos/plums-1.jpg); }
#unyun-7 { background-image: url(../images/unyun-photos/eggs-1.jpg); }
#unyun-8 { background-image: url(../images/unyun-photos/grapes-2.jpg); }
#unyun-9 { background-image: url(../images/unyun-photos/grapes-3.jpg); }
#unyun-10 { background-image: url(../images/unyun-photos/tomatoes-2.jpg); }




























