/*Element Resets*/

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--font-sans: 'Roboto', 'Open Sans', 'Segoe UI', sans-serif;
	--font-serif: 'Cambria', 'Georgia', serif;

	--color-neutral-dark: #333;
	--color-neutral-medium-dark: #888;
	--color-neutral-medium: #aaa;
	--color-neutral-light: #ddd;
	--color-neutral-lighter: #eee;

	--color-black: #000;
	--color-white: #fff;

	--header-height: 3.75rem;
	--title-height: 3rem;
	--body-height: 2rem;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style: none;
}

p {
	line-height: var(--body-height);
}

code {
	display: block;
	padding: 1em;
	white-space: pre-wrap;
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}

/*Layout Classes*/

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.divider {
	width: 85%;
	margin: 2.5em auto;
}

/*Atomic Classes*/

.hidden {
	display: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.display-flex {
	display: flex;
}

.display-inline-flex {
	display: inline-flex;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.flex-stretch {
	flex: 1 1 auto;
}

.flex-none {
	flex: none;
}

.flex-align-center {
	align-items: center;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-space-between {
	justify-content: space-between;
}

.space-between {
	justify-content: space-between;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.margin {
	margin: 1em;
}

.margin-top {
	margin-top: 1em;
}

.margin-left {
	margin-left: 1em;
}

.margin-right {
	margin-right: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-none {
	margin: 0;
}

.padding {
	padding: 1em;
}

.padding-top {
	padding-top: 1em;
}

.padding-left {
	padding-left: 1em;
}

.padding-right {
	padding-right: 1em;
}

.padding-bottom {
	padding-bottom: 1em;
}

.small-p {
	font-size: 0.88em;
	margin: 0;
}

.hover:hover {
	opacity: 50%;
	cursor: pointer;
}

/*IDs*/

#profile {
	width: 320px;
	height: auto;
}

#profile img {
	width: 100%;
	height: auto;
}

#bio {
	width: 600px;
}

/*Component Classes*/

.navbar {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-lighter);
	line-height: var(--header-height);
}

.navbar h1 {
	font-size: 1em;
	font-family: var(--font-sans);
	letter-spacing: 0.025em;
	margin: 0;
}

.navbar label,
.navbar a {
	display: block;
	padding: 0 0.5em;
}

.navbar a:hover {
	text-decoration: none;
	background-color: var(--color-neutral-light);
	color: var(--color-neutral-dark);
}

.nav ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}




/*Buttons*/

.round {
	border-radius: 0.3em;
}

.hollow-button {
	border: 3px solid #ea4c89;
	background-color: transparent;
	color: #ea4c89;
	padding: 0.25em 2.5em;
	outline: none;
}

.hollow-button:hover {
	cursor: pointer;
	background-color: #ea4c89;
}

.hollow-button:hover h3 {
	color: #fff;
}

/* Accordion */

.accordion dt {
	background-color: var(--color-neutral-medium-dark);
	padding: 0.5em 1em;
	color: var(--color-white);
	cursor: pointer;
}

.accordion dt:hover {
	background-color: var(--color-neutral-medium);
}

.accordion dt~dt {
	margin-top: 0.5em;
}

.accordion dd {
	display: none;
	margin: 0;
	padding: calc(1em - 2px);
	border: 2px solid var(--color-neutral-medium-dark);
	border-top-width: 0;
}

/* Tabs */

.tabgroup {}

.tabgroup .tabs {
    display: flex;
    border-bottom: 1px solid var(--color-neutral-light);
}

.tabgroup .tab {
    padding: 0.5em 1em;
    position: relative;
}

.tabgroup .tab:hover {
    background-color: var(--color-neutral-lighter);
    cursor: pointer;
}

.tabgroup .tab::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: var(--color-black);
}

.tabgroup .tab.active::after {
	height: 3px;
}

.tabgroup .contents {
	height: 30vh;
	overflow: hidden;
	position: relative;
}

.tabgroup .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}

.tabgroup .content.active {
	opacity: 1;
	pointer-events: initial;
}




@media (max-width: 1000px) {
	.container {
		padding-right: 1em;
		padding-left: 1em;
	}
}

.menu-button {
	display: none;
}


@media (max-width: 500px) {
	.navbar>.display-flex {
		flex-wrap: wrap;
	}

	.navbar .nav {
		width: 100%;
	}

	.navbar .nav ul {
		display: none;
	}

	.menu-button {
		display: block;
	}

	#menu:checked + .navbar .nav ul {
		display: block;
		padding-bottom: 0.5em;
	}

	#menu:checked + .navbar .nav li {
		line-height: calc(var(--header-height)*0.66);
	}
}



















